<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
<!--                <img-->
<!--                        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"-->
<!--                        height="15"-->
<!--                        alt="MDB Logo"-->
<!--                        loading="lazy"-->
<!--                />-->
                ChatRoomX
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a th:href="@{/room/createRoom}"> Create Room </a>

            <!-- Notifications -->
<!--            <div class="dropdown">-->
<!--                <a-->
<!--                        class="text-reset me-3 dropdown-toggle hidden-arrow"-->
<!--                        href="#"-->
<!--                        id="navbarDropdownMenuLink"-->
<!--                        role="button"-->
<!--                        data-mdb-toggle="dropdown"-->
<!--                        aria-expanded="false"-->
<!--                >-->
<!--                    <i class="fas fa-bell"></i>-->
<!--                    <span class="badge rounded-pill badge-notification bg-danger">1</span>-->
<!--                </a>-->
<!--                <ul-->
<!--                        class="dropdown-menu dropdown-menu-end"-->
<!--                        aria-labelledby="navbarDropdownMenuLink"-->
<!--                >-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" href="#">Some news</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" href="#">Another news</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
            <!-- Avatar -->
            <div class="dropdown">
                <a
                        class="dropdown-toggle d-flex align-items-center hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuAvatar"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >

                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

    <div class="container">
        <div class="row">
            <div class="col-lg-4" th:each="room : *{rooms}">
                <form th:action="@{/room/view}" method="get">
                    <div class="square">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="hidden" th:id="roomId" th:name="roomId" th:value="${room.getRoomId()}">
                        <h3 th:text="${room.getRoomName()}" th:name="roomName"></h3>
                        <h4 th:text="${room.getRoomDescription()}"></h4>
                        <input type="submit" class="btn btn-primary" value="View">
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
    .square {
        height: 150px;
        width: 150px;
        display: block;
        border-radius: 7%;
        margin-bottom: 30px;
        float: left;
        margin-right: 20px;
        margin-top: 30px;
        margin-left: 30px;
        text-align: center;
        border: 3px outset #51c5fc;
        background-color: #8fdbff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform-style: preserve-3d;
    }
    .square:hover{
        border: 3px outset #5977ff;
        background: #8fdbff;
        /*-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);*/
        transform: scale(1.1);
        color: #000000;
    }
</style>
</html>
